
body  {
    background: linear-gradient(to right,rgb(255, 252, 252), rgb(101, 101, 194));
    }

    section h1   {
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .datos {
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .Experiencia {
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    address {
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    }

    .Experiencia_laboral {
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
